body#accueil
{
	background-image: url(../images/bienvenue.jpg);
	background-repeat: no-repeat;
	background-position: center;
}

body#bilan
{
	background: url(../images/bilan_alimentaire.jpg);
	background-repeat: no-repeat;
	background-position: top;
	background-attachment:fixed;
}
/* Page accueil */
.block
{
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding-top: 30%;
	margin-top: 30px;
}

.block h1
{
	font-family: 'Mr De Haviland', cursive;
	color: white;
	font-size: 110px;
	text-align: center;
	margin-top: 40px;
	letter-spacing: 10px;
	text-shadow:rgba(0, 0, 0, 0.298039) 0px 5px 0px;
}

.btn
{
	font-size: 25px;
	opacity: 0.8;
}

/* NAV */

.list-group-item
{
	background: transparent;
}

.list-group-item:hover
{
	opacity: 0.5;
}

.badge
{
	opacity: 0.5;
}

/* Page 1 */

.blockAvecMenu
{
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding-top: 20%;
	margin-top: 30px;
}

.blockAvecMenu h1
{
	font-family: 'Mr De Haviland', cursive;
	color: white;
	font-size: 110px;
	text-align: center;
	margin-top: 40px;
	letter-spacing: 10px;
	text-shadow:rgba(0, 0, 0, 0.3) 0px 5px 0px;
}

/* bilanAlimentaire */

.blockDescription
{
	width: 60%;
  margin: 0 auto;
  text-align: center;
  padding: 30px;
  background-color: #ddd;
  border-radius: 30px;
  border: 2px solid #ccc;
  margin-bottom: 30px;
	opacity: 0.8;
	font-family: 'DM Serif Text', serif;
}
