body#accueil
{
	background-image: url(../images/bienvenue.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment:fixed;
}

body#bilan
{
	background: url(../images/bilan_alimentaire.jpg);
	background-repeat: no-repeat;
	background-position: top;
	background-attachment:fixed;
}

body#reiki
{
	background: url(../images/reiki.jpg);
	background-repeat: no-repeat;
	background-position: top;
	background-attachment:fixed;
}

body#massageAyurvedique
{
	background: url(../images/ayurvedique.jpg);
	background-repeat: no-repeat;
	background-position: top;
	background-attachment:fixed;
}

body#massageUdvartana
{
	background: url(../images/udvartana.jpg);
	background-repeat: no-repeat;
	background-position: top;
	background-attachment:fixed;
}
/* Page accueil */
.block
{
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding-top: 20%;
	margin-top: 30px;
}

.block h1
{
	font-family: 'Mr De Haviland', cursive;
	color: white;
	font-size: 90px;
	text-align: center;
	margin-top: 110px;
	letter-spacing: 10px;
	text-shadow:rgba(0, 0, 0, 0.298039) 0px 5px 0px;
}

.btn
{
	font-size: 25px;
	opacity: 0.8;
}

/* NAV */

.list-group-item
{
	background: transparent;
}

.list-group-item:hover
{
	opacity: 0.5;
}

.badge
{
	opacity: 0.5;
}

/* Page 1 */

.blockTitre
{
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding-top: 90px;
	margin-top: 30px;
}

.blockTitre h1
{
	font-family: 'Mr De Haviland', cursive;
	color: white;
	font-size: 110px;
	text-align: center;
	margin-top: 40px;
	letter-spacing: 10px;
	text-shadow:rgba(0, 0, 0, 0.3) 0px 5px 0px;
}

.blockDescription
{
	width: 62%;
  margin: 0 auto;
  text-align: center;
  padding: 30px;
  background-color: #ddd;
  border-radius: 30px;
	opacity: 0.8;
	font-family: 'DM Serif Text', serif;
}

/* Bilan */

#secBilan
{
	padding-top: 142px;
}

/* Reiki */
#secReiki
{
	padding-top: 142px;
}

/* Massage Ayurvedique */
#secMassageAyurvedique
{
	padding-top: 140px;
}

#secMassageAyurvedique .blockTitre
{
	padding-top: 45px;
}

/* Massage Udvartana */
#secMassageUdvartana
{
	padding-top: 140px;
}

#secMassageUdvartana .blockTitre
{
	padding-top: 10px;
}

/* Contact */

#formulaireDeContact .blockDescription
{
	margin: 2% 75%;
}

#contact .blockTitre
{
	margin-top: 0;
	padding-top: 0;
}
